<div id="project-tab" class="scrollto clearfix">
  <div class="blog-body">
    <app-projects class="wow fadeIn" data-wow-delay="0.1s"></app-projects>
    <app-projects class="wow fadeIn" data-wow-delay="0.3s"></app-projects>
    <app-projects class="wow fadeIn" data-wow-delay="0.5s"></app-projects>
    <!-- <!-- <app-projects class="wow fadeIn" data-wow-delay="0.7s"></app-projects>
    <app-projects class="wow fadeIn" data-wow-delay="0.9s"></app-projects> -->
    <app-projects class="wow fadeIn" data-wow-delay="0.11s"></app-projects>
    <app-projects class="wow fadeIn" data-wow-delay="0.13s"></app-projects>
    <app-projects class="wow fadeIn" data-wow-delay="0.13s"></app-projects>
  </div>
</div>
