<div id="project-cards" class="scrollto clearfix">
  <div class="card">
    <img
      class="card-img"
      src="https://images.pexels.com/photos/27457216/pexels-photo-27457216/free-photo-of-a-woman-in-a-long-dress-standing-on-the-beach.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
      class="card-img-top"
    />
    <div class="card-body">
      <h5>kaathanin naveena machine</h5>

      <p>
        Kaathan oru karadi kunju and his machine is a vibrator asdfiias
        ashdfohas dasiidfiiahs ashdfiahsd asoihfais asodfapsid aodsfoioas
        aoisdhfioashif poiahsdfias aposdifai aoishhdfoi asdf oiasf asposidfdoias
        asoiidfao asohfoai apoisifoai
      </p>
    </div>
  </div>
</div>
