/* Main layout */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.banner-content {
  flex-basis: 30%;
  padding: 20px;
  box-sizing: border-box;
}

.banner-image {
  flex-basis: 70%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.banner-image svg {
  max-width: 100%;
  height: auto;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .banner-content,
  .banner-image {
    flex-basis: 100%;
    text-align: center;
    padding: 10px;
  }

  .banner-image svg {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
}

/* Gears rotation animation */
#gear1 {
  transform-origin: 68% 43%;
}

#gear2 {
  transform-origin: 35.5% 59%;
}

#banner:hover #gear1 {
  animation: rotate 2s linear 3;
}

#banner:hover #gear2 {
  animation: rotate 2s linear 3 reverse;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
