<div id="header" class="nav-collapse">
  <div class="row clearfix">
    <div class="col-1">
      <!--Logo-->
      <div id="logo">
        <!--The Logo that is shown on the sticky Navigation Bar-->
        <img
          src="images/ignitein_logo.jpg"
          id="navigation-logo"
          class="ignitein_logo"
          alt="Landing Page"
        />
        <!--End of Navigation Logo-->
      </div>
      <!--End of Logo-->

      <!--Main Navigation-->
      <nav id="nav-main">
        <ul>
          <li>
            <a href="#banner">Home</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#project-cards">Projects</a>
          </li>
          <li>
            <a href="#gallery">Gallery</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
        </ul>
      </nav>
      <!--End of Main Navigation-->

      <div id="nav-trigger"><span></span></div>
      <nav id="nav-mobile"></nav>
    </div>
  </div>
</div>
<!--End of Header-->
