<div class="nav-bar">
  <!--Logo-->
  <div class="nav-img">
    <img
      src="images/ignitein_logo.jpg"
      class="ignitein_logo"
      alt="Landing Page"
    />
  </div>
  <!--End of Logo-->
  <!--Main Navigation-->
  <nav class="nav-links">
    <ul>
      <li>
        <a href="#banner">Home</a>
      </li>
      <li>
        <a href="#services">Services</a>
      </li>
      <li>
        <a href="#project-tab">Projects</a>
      </li>
      <li>
        <a href="#gallery">Gallery</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
    </ul>
  </nav>
  <!--End of Main Navigation-->
  <div class="nav-socials">
    <ul>
      <li>
        <a
          target="_blank"
          title="Facebook"
          href="https://www.facebook.com/username"
        >
          <i class="fa fa-facebook fa-1x"></i>
        </a>
      </li>

      <li>
        <a
          target="_blank"
          title="Twitter"
          href="http://www.twitter.com/username"
        >
          <i class="fa fa-twitter fa-1x"></i>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          title="Instagram"
          href="http://www.instagram.com/username"
        >
          <i class="fa fa-instagram fa-1x"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--End of Header-->
