#navigation-logo {
  height: 70px !important;
  width: 100% !important;
}
#logo {
  height: 70px;
  width: 70px;
}

#nav-main ul li {
  margin-left: 100px !important; /* Space between the menu items */
}
